# IDE and editor
.vscode/**
.vscode-test/**
.vscodeignore

# Build output
out/**
**/*.map
*.vsix

# Dependencies
node_modules

# OS files
.DS_Store
*.swp
*.swo
*~

# Documentation (generated)
vsc-extension-quickstart.md